body {
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: #2b2b2baa;
    border: 1px solid #DDDDDDaa;
    color: #eeeeee;
    text-shadow: 0px 0px 4px #00000044;
}

input {
    background-color: #2b2b2bbb;
    border: 1px solid #888888aa;
    color: #eeeeee;
    text-shadow: 0px 0px 4px #00000044;
}

textarea {
    background-color: #2b2b2bbb;
    border: 1px solid #888888aa;
    color: #eeeeee;
    text-shadow: 0px 0px 4px #00000044;
    overflow: scroll;
    overflow-wrap: normal;
    white-space: nowrap;
}

button {
    background-color: #2b2b2bbb;
    border: 1px solid #888888aa;
    color: #eeeeee;
    text-shadow: 0px 0px 4px #00000044;
}

::-webkit-scrollbar {
    background-color: #2b2b2bbb;
    border: 1px solid #888888aa;
    text-shadow: 0px 0px 4px #00000044;
}

::-webkit-scrollbar-button {
    background-color: #2b2b2bbb;
    border: 1px solid #b9b1b1aa;
    color: #eeeeee;
    text-shadow: 0px 0px 4px #00000044;
}

::-webkit-scrollbar-thumb {
    background-color: #2b2b2bbb;
    border: 1px solid #888888aa;
}

::-webkit-scrollbar-track {
    background-color: #2b2b2bbb;
    border: 1px solid #888888aa;
    text-shadow: 0px 0px 4px #00000044;
}

#screen {
    position: absolute;
    pointer-events: auto;
}

#ui {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ui-element {
    pointer-events: auto;
}

.chat {
    top: 1vmin;
    left: 1vmin;
    height: 35vmin;
    width: 50vmin;
    position: absolute;
}

.chat-window {
    background-color: #2b2b2baa;
    color: #eeeeee;
    border: 1px solid #666666;
    text-shadow: 0px 0px 4px #00000044;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.resources {
    bottom: 1vmin;
    width: 100%;
    height: 20vmin;
    padding-left: 6vmin;
    padding-right: 6vmin;
    box-sizing: border-box;
    position: absolute;
}

.shared-component-search {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
}

.shared-repository {
    background-color: #2b2b2baa;
    color: #eeeeee;
    border: 1px solid #666666;
    text-shadow: 0px 0px 4px #00000044;
}

.tools {
    position: absolute;
    right: 6vmin;
    bottom: 20vmin;
    width: 7vmin;
}

.upload {
    background-color: #2b2b2baa;
    color: #eeeeee;
    border: 1px solid #666666;
    text-shadow: 0px 0px 4px #00000044;
}

.scrollable {
    overflow-y: scroll;
}

.chat-scroll {
    flex: 1 1 auto;
}

.chat-display {
    flex: 1 1 auto;
    display: flex;
}

.chat-entry {
    flex: 0 1 auto;
    word-wrap: break-word;
}

.table {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, auto);
    grid-auto-flow: row;
}

.table-row {
    display: grid;
    grid-template-columns: 11vmin auto;
    grid-auto-flow: row;
}

.resource-list {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.resource-select {
    background-color: #2b2b2baa;
    color: #eeeeee;
    border: 1px solid #666666;
    text-shadow: 0px 0px 4px #00000044;
    height: 100%;
    overflow-y: scroll;
    flex: 1 1 auto;
}

.component-select {
    background-color: #2b2b2baa;
    color: #eeeeee;
    border: 1px solid #666666;
    text-shadow: 0px 0px 4px #00000044;
    height: 100%;
    overflow-y: scroll;
    flex: 1 1 auto;
}

.resource-display {
    background-color: #2b2b2baa;
    color: #eeeeee;
    border: 1px solid #666666;
    text-shadow: 0px 0px 4px #00000044;
    flex: 0 1 45vmin;
}

.resource-display .table-data input {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
}

.shared-list {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.shared-select {
    background-color: #2b2b2baa;
    color: #eeeeee;
    border: 1px solid #666666;
    text-shadow: 0px 0px 4px #00000044;
    flex: 1 1 auto;
}

.shared-display {
    background-color: #2b2b2baa;
    color: #eeeeee;
    border: 1px solid #666666;
    text-shadow: 0px 0px 4px #00000044;
    flex: 0 1 30vmin;
}

.shared-display .table-data input {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
}

.script-edit {
    background-color: #2b2b2baa;
    color: #eeeeee;
    border: 1px solid #666666;
    text-shadow: 0px 0px 4px #00000044;
    flex: 0 1 30vmin;
    width: 100%;
    height: 40vmin;
}

.script-edit .table-data input {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
}

.component-list {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.component-select {
    background-color: #2b2b2baa;
    color: #eeeeee;
    border: 1px solid #666666;
    text-shadow: 0px 0px 4px #00000044;
    flex: 1 1 auto;
}

.component-display {
    background-color: #2b2b2baa;
    color: #eeeeee;
    border: 1px solid #666666;
    text-shadow: 0px 0px 4px #00000044;
    flex: 0 1 30vmin;
}

.component-display .table-data input {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
}

.grid-list {
    height: 100%;
    display: grid;
}

.grid-list-horizontal {
    grid-auto-flow: column;
    grid-template-rows: repeat(auto-fit, 7.5vmin);
    grid-template-columns: repeat(auto-fit, 7.5vmin);
}

.grid-list-vertical {
    grid-auto-flow: row;
    grid-template-rows: repeat(auto-fit, 7.5vmin);
    grid-template-columns: repeat(auto-fit, 7.5vmin)
}

.named-image-button {
    width: 100%;
}

.resource-display {
    overflow-y: auto;
}

.titled-window {
    height: 100%;
}